<div class="mt-4 p-5 bg-secondary text-white rounded">
    <h1><%= t('welcome')%></h1>
    <h2><%= t('messages.welcome')%></h2>
    <p><%= t('messages.menu')%></p>
    <%= render "menu" %>
    
 </div>


