<div class="mt-4 p-5 bg-secondary text-white rounded">
    <h1>Seja Bem-Vindo</h1>
    <h2>Este é o Crypto Wallet</h2>
    <p>Para começar, selecione uma das opções abaixo:</p>
    <%= render "menu" %>
    
 </div>


